{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Change Password Page </title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="{% static 'admin/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Fontawesome Css -->
    <link href="{% static 'admin/css/Fontawesome-all.css' %}" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="/static/user/js/jquery-3.1.1.js"></script>    
    <script src="/static/user/js/jquery.validate.js" ></script>
    <!--//web-fonts-->
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }
        .avatar {
            position: center;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: hsl(0, 0%, 100%);
            padding: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .avatar img {
            width: 101%;
        }
        .error{
                color:red !important;
            }
        </style>
</head>
<body>
    <!-- <div class="bg-page py-5" style="background-image: url('2.png'); background-size: cover;" > -->
        <div class="bg-page py-5" style= "background: url('/static/admin/i1.jpg') no-repeat; background-size: cover;">
      
        <br>
            <div class="container">
            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center text-white">Change Your Password Here!</h2>
            <!--// main-heading -->
            <div class="form-body-w3-agile text-center w-lg-25 w-sm-60 w-50 mx-auto mt-5">
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{msg.message}}
                        </div>
                    {% endfor %}
                {% endif %}
                <form id="myform" enctype="multipart/form-data0" action="/adminapp/changepasswordprocess" method="post">
                    {% csrf_token %}
                    <div class="input-icons">
                        <i class="fa fa-key icon"></i>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" placeholder="Enter Old Password" name="opass" required="">
                        </div>
                    </div>

                    <div class="input-icons">
                        <i class="fa fa-key icon"></i>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="Enter New Password" name="npass" required="">
                        </div>
                    </div>

                    <div class="input-icons">
                        <i class="fa fa-key icon"></i>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm Your New Password" name="cpass" required="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary error-w3l-btn mt-sm-5 mt-3 px-4">Submit</button>
                </form>
                <script>
                    // validate signup form on keyup and submit
                $("#myform").validate({
                    rules: {
                        opass: {
                            required: true,
                        },
                        npass: {
                            required: true,
                            minlength: 6
                        },
                        cpass: {
                            required: true,
                            minlength: 6,
                            equalTo: '#npass'
                        },
                    },
                    messages: {
                        opass: "Please Enter Old Password",
                        npass: {
                            required: "Please Enter Password",
                            minlength: "Your password must be at least 6 characters long"
                        },
                        cpass: {
                            required: "Please Confirm Password",
                            minlength: "Your password must be at least 6 characters long",
                            // equalTo: "Please enter the same password as above"
                        },
                    }
                });
    function Validate(no) {
        no.value = no.value.replace(/[^ 0-9\n\r]+/g, '');
    }

    function Validatestring(no) {
        no.value = no.value.replace(/[^ a-z A-Z\n\r]+/g, '');
    }
</script>
        </div>
        </div>
    </div>


    <!-- Required common Js -->
    <script src='js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Js for bootstrap working-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->

</body>

</html>
