{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sports Table</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="{% static 'admin/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="{% static 'admin/css/style4.css' %}">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="{% static 'admin/css/Fontawesome-all.css' %}" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->


    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    {% include 'admin/sidebar.html' %}

        <!-- Page Content Holder -->
        <div id="content">
           
            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Sports Table</h2><br><br>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
             
                <div class="outer-w3-agile mt-3">
                    <!-- <h4 class="tittle-w3-agileits mb-4">Sports Table</h4><br> -->
                    <table class="table table-hover">
                                <thead class="thead">
                                    <tr>
                                        <th>Sports_ID</th>
                                        <th>Sports_Name</th>
                                        <th>Sports_Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% for i in mydata %}
                                <tr>
                                    <td>{{i.0}}</td>
                                    <td>{{i.1}}</td>
                                    <td>{{i.2}}</td>
                                    <td><a href='deletesports/{{i.0}}'>Delete</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        <!-- <thead>
                            <tr>
                                <th scope="col">Sports ID</th>
                                <th scope="col">Sports Name</th>
                                <th scope="col">Details</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cricket</td>
                                <td>Cricket is a game played with bat and ball having 11 players on each side of the two teams. <br>
                                    To give a batsman out there are two judges who stand on the field, they are called “Umpires</td>
                                <td> <a href="">Edit</a> | <a href="">Delete</a> </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Football</td>
                                <td>The football match is played with only two goalposts, a field and a football. <br>
                                    It is a 90-minute game in which two teams, with each team having eleven members, are required to play.</td>
                                <td> <a href="">Edit</a> | <a href="">Delete</a> </td>
                            </tr>
                           
                        </tbody> -->
                    <!-- </table> -->
                </div>
                <!--// table5 -->

            </section>

        </div>
    </div>


    <!-- Required common Js -->
    <script src='js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- //Js for bootstrap working -->

</body>

</html>