<html>
    <body>
        <table border="1" width="100%">
            <tr>
                <td><h1>Heer Parikh</h1></td>
            </tr>
            <tr>
                <td><a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </td>
            </tr>
            <tr>
                <td>
                        {% block mycontent %}
                        {% endblock %}
                </td>
            </tr>
            <tr>
                <td>Website Developed by Heer Parikh</td>
            </tr>
        </table>
    </body>
</html>