<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1>
                <a href="/adminapp/add_admin">TeamUp!</a>
            </h1>
            <span>M</span>
        </div>
        <div class="profile-bg"></div>
        <ul class="list-unstyled components">
            <li>
                <a href="/adminapp/add_admin">Dashboard</a>
            </li>

            <li>
                <a href="/adminapp/add_event">Add Event</a>
            </li>
            <li>
                <a href="/adminapp/add_sports">Add Sports</a>
            </li>
            <li>
                <a href="/adminapp/add_blog">Add Blog</a>
            </li>
            <li>
                <a href="/adminapp/display_join">About Join </a>
            </li>

            <li>
                <a href="/adminapp/display_notification">About Notification </a>
            </li>

            <li>
                <a href="/adminapp/display_location">About Location</a>
            </li>

            <li>
                <a href="/adminapp/display_feedback">About Feedback</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    Reports<i class="fas fa-angle-down fa-pull-right"></i>
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/adminapp/page_report">Event Report</a>
                    </li>
                    <li>
                        <a href="/adminapp/page_report1">Sports Report</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>