{% load static %}
<footer id="footer-area">
    <!-- Footer Call to Action Start -->
    <div class="footer-callto-action">
        <div class="ruby-container">
            <div class="callto-action-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="{% static 'user/images/voltage.png' %}" alt="WorldWide Shipping" />
                            </figure>
                            <div class="callto-info">
                                <h2>Play. Host. Connect.</h2>
                                <p>Transform how you engage with sports—anytime, anywhere.</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="{% static 'user/images/speech-bubble.png' %}" alt="Support" />
                            </figure>
                            <div class="callto-info">
                                <h2> Let’s Talk Sports</h2>
                                <p>Reach out anytime at +91-123-456-7890 or support@teamup.com.</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="{% static 'user/images/worldwide.png' %}" alt="Money Back" />
                            </figure>
                            <div class="callto-info">
                                <h2>Globally Connected</h2>
                                <p>Find teammates and events no matter where you are—sports with no borders.</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="{% static 'user/images/envelope.png' %}" alt="Guide" />
                            </figure>
                            <div class="callto-info">
                                <h2>Get Updates</h2>
                                <p>Sign up for exclusive tournament alerts, tips, and player success stories.</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Call to Action End -->

    <!-- Footer Follow Up Area Start -->
    <div class="footer-followup-area">
        <div class="ruby-container">
            <div class="followup-wrapper" style="background-image: url('/static/user/images/sport.jpg')">
                <div class=" row">
                    <div class="col-lg-12 text-center">
                        <div class="follow-content-wrap">
                            <a href="{% url 'home' %}" class="logo"><img src="{% static 'user/images/logo.png' %}"
                                    alt="logo" /></a>
                            <p>Welcome to TeamUp – where sports and connections come alive!</p>

                            <div class="footer-social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Follow Up Area End -->


    <!-- Copyright Area Start -->
    <div class="copyright-area">
        <div class="ruby-container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>-2024
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="{% url 'home' %}" target="_blank">TEAM UP!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Area End -->

</footer>